.divDeRecetas {
    z-index: 1;
}

/* este no es el problema ya probé borrarlo */
.recetaEnDisplay {
    min-width: 90vw;
    min-height: 90vh;
}

.title {
    margin: 2%;

}

.ingredients {
    margin-left: 2%;
}

.AAA {
    --background: #E91E63;
    --color: white;
    --border-radius: 10px;
    --box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    --margin-top: 10px;
    --transition: background-color 0.2s ease;

}