<ion-content>
  <div class="title">
    <h2>Diez recetas. Faltó ganas!</h2>
  </div>

  <div class="recipeContainer">

    <div class="recipeCard" *ngFor="let receta of queryDeRecetas?.results">
      <div class="titleAndPhoto">
        <h2>{{receta.title}}
        </h2>
        <img src="{{receta.image}}">
      </div>
      <div class="ingredients">
        <ul *ngFor="let ingredient of receta.missedIngredients">
          <li>{{ingredient.original}} </li>
        </ul>
      </div>

    </div>

  </div>

</ion-content>