
<ion-content>
  <div class="title">
    <h2>Recetas. Faltó ganas!</h2>
  </div>

  <app-buscador [(busquedaDesplegada)]="busquedaDesplegada" (buttonClicked)="onButtonClicked($event)"></app-buscador>

  <!-- el componente card que se despliega cuando pedís las instrucciones -->
  <ion-card-content *ngIf="isShowingMore">
    <ion-card class="recetaEnDisplay">
      <ion-card-header>
        <ion-card-title>titulo</ion-card-title>
        <img alt="foto de receta" src="{{imagenEnDisplay}}">
      
        <ion-card-subtitle>subtitulo</ion-card-subtitle>

      </ion-card-header>

      <ion-list *ngFor="let step of this.queryDeRecetaForDisplay?.steps!">
        <ion-item>{{step.number}}. {{step.step}}</ion-item>
      </ion-list>

      <ion-button (click)="toggleRecipeSteps()">Volver</ion-button>
    </ion-card>
  </ion-card-content>

  

  <!-- las cards de las recetas -->

  <div *ngIf="!isShowingMore" class="divDeRecetas">
    <ion-card-content *ngFor=" let receta of queryDeRecetas?.results">
      <ion-card>
        <img alt="foto de {{receta.title}}" src="{{receta.image}}">
        <ion-card-header>
          <ion-card-title>{{receta.title}}</ion-card-title>
          <ion-card-subtitle>subtitulo?</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content *ngIf="queryDeRecetas?.results?.indexOf(receta) == recetaConIngredientes">ingredientes de
          {{receta.title}}

          <div class="ingredients">
            <ul *ngFor="let ingredient of receta.missedIngredients">
              <li>{{ingredient.original}} </li>
            </ul>
          </div>
        </ion-card-content>
        <ion-button *ngIf="queryDeRecetas?.results?.indexOf(receta) != recetaConIngredientes"
          (click)="muestraIngredientes(queryDeRecetas?.results?.indexOf(receta)!)">Mostrar ingredientes</ion-button>
        <ion-button *ngIf="queryDeRecetas?.results?.indexOf(receta) == recetaConIngredientes"
          (click)="ocultaIngredientes()">Ocultar ingredientes</ion-button>
        <ion-button (click)="buscarPorId(receta.id!, receta.image!)">Instrucciones paso a paso</ion-button>
      </ion-card>
    </ion-card-content>
  </div>

  <ion-button *ngIf="queryDeRecetas != undefined" (click)="blanquearRecetas()">borrar búsqueda</ion-button>


</ion-content>