<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="page">
  <div class="profile-container">
    <ion-buttons slot="start">
        Volver<ion-back-button defaultHref="/" color="tertiary"></ion-back-button>
    </ion-buttons>
    <ion-avatar class="avatar-container">
      <ion-icon name="person-outline" class="avatar-icon"></ion-icon>
    </ion-avatar>

    <ion-label class="input-title">Email</ion-label>

    <ion-item class="custom-input">
      <ion-input type="email" [(ngModel)]="userData.email" readonly>
      </ion-input>
    </ion-item>

    <p class="error-text" *ngIf="emailError">{{ emailError }}</p>

    <ion-label class="input-title">Nombre</ion-label>
    <ion-item class="custom-input">
      <ion-input [(ngModel)]="userData.name" placeholder="Escribí tu nombre" (ionBlur)="validateNombre()"></ion-input>
    </ion-item>

    <p class="error-text" *ngIf="nombreError">{{ nombreError }}</p>


    <ion-label class="input-title">Apellido</ion-label>
    <ion-item class="custom-input">
      <ion-input [(ngModel)]="userData.lastName" placeholder="Escribi tu apellido"></ion-input>
    </ion-item>

    <ion-label class="input-title">Edad</ion-label>
    <ion-item class="custom-input">
      <ion-input type="number" [(ngModel)]="userData.age" readonly>
      </ion-input>
    </ion-item>

    <ion-label class="input-title">Fecha de nacimiento</ion-label>
    <ion-item class="custom-input">
      <ion-input type="text" placeholder="DD/MM/YYYY" [(ngModel)]="userData.dateBirth"
        (ionBlur)="validateDate()">
        <!--ionBlur en Ionic es un evento que se dispara cuando un campo de entrada pierde el foco-->
      </ion-input>
    </ion-item>
    <p class="error-text" *ngIf="dateError">{{ dateError }}</p>


    <div class="row">
      <div class="radio-group half-width">
        <label class="input-title">Sexo</label>
        <ion-radio-group [(ngModel)]="userData.biologicalSex" class="horizontal-radios">
          <div class="radio-option">
            <ion-radio value="Masculino"></ion-radio>
            <span>M</span>
          </div>
          <div class="radio-option">
            <ion-radio value="Femenino"></ion-radio>
            <span>F</span>
          </div>
          <div class="radio-option">
            <ion-radio value="X"></ion-radio>
            <span>X</span>
          </div>
        </ion-radio-group>
      </div>

      <!-- Actividad Física -->
      <div class="radio-group half-width">
        <label class="input-title">Actividad Física</label>
        <ion-radio-group [(ngModel)]="userData.levelActivity" class="horizontal-radios">
          <div class="radio-option">
            <ion-radio value="Baja"></ion-radio>
            <span>Baja</span>
          </div>
          <div class="radio-option">
            <ion-radio value="Media"></ion-radio>
            <span>Media</span>
          </div>
          <div class="radio-option">
            <ion-radio value="Alta"></ion-radio>
            <span>Alta</span>
          </div>
        </ion-radio-group>
      </div>
    </div>

    <div class="row">
      <div class="select-group half-width">
        <label class="input-title">Peso (kg)</label>
        <ion-item class="custom-input no-border">
          <ion-select [(ngModel)]="userData.weight" placeholder="Seleccioná tu peso">
            <ion-select-option *ngFor="let peso of pesos" [value]="peso">{{ peso }} kg</ion-select-option>
          </ion-select>
        </ion-item>
      </div>

      <div class="select-group half-width">
        <label class="input-title">Altura (cm)</label>
        <ion-item class="custom-input no-border">
          <ion-select [(ngModel)]="userData.heigth" placeholder="Seleccioná tu altura">
            <ion-select-option *ngFor="let altura of alturas" [value]="altura">{{ altura }} cm</ion-select-option>
          </ion-select>
        </ion-item>
      </div>
    </div>

    <ion-button class="save-button" expand="block" (click)="saveProfile()">Guardar Cambios</ion-button>

  </div>
</ion-content>