<ion-header [translucent]="true">
  
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>
  <ng-container *ngIf="currentUser">
    <ion-card>
      <ion-card-header>
          <ion-card-title  *ngIf="currentUser">Bienvenido a Habitus APP💓 </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-button expand="block" (click)="logout()">Cerrar Sesión</ion-button>
      </ion-card-content>
    </ion-card>
  </ng-container>

  <app-explore-container name="Tab 2 page"></app-explore-container>
</ion-content>
