<ion-header>
  <ion-toolbar>
    <ion-title>Calendario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="container">
  <div class="calendar-wrapper">
    <div class="left calendar">
      <div class="month">
        <ion-icon name="chevron-back-outline" class="prev"></ion-icon>
        <div class="date">diciembre 2025</div>
        <ion-icon name="chevron-forward-outline" class="next"></ion-icon>
      </div>

      <div class="weekdays">
        <div>Domingo</div>
        <div>Lunes</div>
        <div>Martes</div>
        <div>Miércoles</div>
        <div>Jueves</div>
        <div>Viernes</div>
        <div>Sábado</div>
      </div>

      <div class="days">
        
      </div>

      <div class="goto-today">
        <div class="goto">
          <ion-input placeholder= "mes/año" class="date-input" type="text" fill="outline"></ion-input>
          <ion-button class="goto-btn" size="small">¡Listo!</ion-button>
        </div>
        <ion-button class="today-btn" size="small">HOY</ion-button>
        
      </div>
    </div>

    <div class="right">
      <div class="today-date">
        <div class="event-day">Miércoles</div>
        <div class="event-date">12 diciembre 2025</div>
      </div>

      <div class="events"></div>

      <div class="add-event-wrapper">
        <div class="add-event-header">
          <div class="title">Añadir Evento</div>
          <ion-icon name="close-outline" class="close"></ion-icon>
        </div>

        <div class="add-event-body">
          <ion-input
            placeholder="Nombre del evento"
            class="event-name"
            type="text"
            fill="outline"
          ></ion-input>

          <ion-input
            placeholder="Desde"
            class="event-time-from"
            type="text"
            fill="outline"
          ></ion-input>

          <ion-input
            placeholder="Hasta"
            class="event-time-to"
            type="text"
            fill="outline"
          ></ion-input>
        </div>

        <div class="add-event-footer">
          <ion-button class="add-event-btn" expand="block">Añadir Evento</ion-button>
        </div>
      </div>
    </div>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button class="add-event">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content> 
