<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title class="title-container">
      <div class="logo-wrapper">
        <img src="assets/img/icon.png" class="heart-logo" />
        <span class="app-name">Habitus</span>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding page">
  <div class="content">
    <h2 class="login-title">Acerca de Habitus</h2>
    <p>
      <strong>Habitus</strong> es una app mobile enfocada en hábitos saludables, desarrollada como parte de la materia <strong>Desarrollo de Aplicaciones para Dispositivos</strong>.
    </p>
    <p>
      <strong>Instituto de Formación Superior N° 11</strong><br />
      Carrera: Desarrollo de Software
    </p>
    <p>
      <strong>Autores:</strong><br />
      Mónica Melgarejo<br />
      Nadine Nahuel<br />
      Cristian Purpura<br />
      Ariel Wasserman
    </p>
  </div>
</ion-content>
