.splash {
  --background: #F3E5F5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  .splash-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
