.error {
  border: 1px solid red !important;
}

.error-text {
  color: red;
  font-size: 14px;
}

.forgot-password {
    text-align: center;
    color: var(--ion-color-primary);
    cursor: pointer;
    text-decoration: underline;
}