<ion-header>
  <ion-toolbar>
    <ion-title>Login Habitus APP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!--mostrar solo si el usuario no esta logueado-->
  <ng-container *ngIf="!isLoggedIn">
    <ion-item [class.error]="emailError">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" [(ngModel)]="email"></ion-input>
    </ion-item>
    <p class="error-text" *ngIf="emailError">{{ emailError }}</p>

    <ion-item [class.error]="passwordError">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>
    <p class="error-text" *ngIf="passwordError">{{ passwordError }}</p>

    <ion-button expand="full" (click)="login()">Iniciar Sesión</ion-button>
  </ng-container>
  <!--mostrar cuando el usuario esta logueado-->
  <ng-container *ngIf="isLoggedIn">
    <ion-card>
      <ion-card-header>
          <ion-card-title  *ngIf="currentUser">Bienvenido {{currentUser.email}} a Habitus APP💓 </ion-card-title>
      </ion-card-header>
    </ion-card>
  </ng-container>
</ion-content>