/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

//estilos alert recuperacion de contraseña
.alert-wrapper {
  background-color: white !important;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.alert-title {
  color: #7B1FA2 !important;
  font-weight: bold;
}

.alert-message {
  color: #8733ac !important;
}

.alert-button {
  border-radius: 8px;
  font-weight: bold;
}

.alert-button-cancel {
  color: #E91E63 !important; /* Color del botón cancelar */
}

.alert-button-confirm {
  background-color: #E91E63 !important; /* Color del botón enviar */
  color: white !important;
}

.alert-input {
  color: #E91E63 !important; /* Asegura que el texto sea visible */
}

////estilo loading
.custom-loading {
  --spinner-color: #E91E63; /* Color del spinner */
  --background: rgba(243, 229, 245, 0.9); /* Fondo semitransparente */
  color: #3a0053; /* Color del texto */
}
